gym~=0.26.2
numpy~=1.26.1
Pillow
pygame~=2.5.2
pygame-ce
pygame-gui
pymoo~=0.6.1.1
pymunk~=6.5.1
torch~=2.1.0
torchrl~=0.2.0
tqdm~=4.66.1
matplotlib~=3.8.0
Box2D~=2.3.2
tensordict~=0.2.0
snntorch~=0.7.0
Deprecated~=1.2.14
setuptools~=65.5.1